/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
*.bundle
rs/target
target/
lib/ratomic/**/*.bundle
lib/ratomic/**/*.dll
lib/ratomic/**/*.so
Gemfile.lock
/.ignoreme/
redis_poc/Gemfile.lock
*.gem
